* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.list {
  .group {
    .salom-enter{
      transform: translateX(350px);
      transition: translateX 1s ease-in;
    }

    .salom-enter-active {
      transform: translateX(0);
      transition: all 500ms ease-in;
    }

    .salom-exit {
      transform: translateX(0);
    }

    .salom-exit-active {
      transform: translateX(-350px);
      transition: all 500ms ease-in;
    }
  }
}
